{% extends 'cards/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Christmas Card Automation</h1>
    <p class="lead">Simplify your holiday card sending process with our easy-to-use tool.</p>
    
    {% if user.is_authenticated %}
        <hr class="my-4">
        <p>Here's a summary of your data:</p>
        <ul>
            <li>Households: {{ household_count }}</li>
            <li>Addresses: {{ address_count }}</li>
            <li>Individuals: {{ individual_count }}</li>
        </ul>
        <a class="btn btn-primary btn-lg" href="{% url 'household-list' %}" role="button">View Households</a>
    {% else %}
        <hr class="my-4">
        <p>Log in to start managing your Christmas card list.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
        <p class="mt-3">Don't have an account? <a href="#">Sign up</a></p>
    {% endif %}
</div>
{% endblock %}